// Define variables for your color scheme

// For example:
$red: #D23333;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #da552f;
$green: #32B796;
$gray: #616668;
$light-gray: #F4F4F4;
$middle-gray: #999999
